<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uta_foodapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="University Food System"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UTA_FoodApp">
        <activity
            android:name=".VendorView"
            android:exported="false" />
        <activity
            android:name=".RegisterRestaurant"
            android:exported="false"
            android:label="Add Restaurant"
            android:parentActivityName=".VendorView"/>
        <activity
            android:name=".SearchRestaurant"
            android:exported="false" />
        <activity
            android:name=".SearchFood"
            android:exported="false" />
        <activity
            android:name=".Search"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>